<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="terminal">
      <div id="output">
        <div class="inlineContainer">
          <h1 class="nameErr"><%= message %></h1>
        </div>
        <pre class="descErr"><%= error.stack %></pre>
      </div>
    </div>
  </body>
</html>
