<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="terminal">
      <div id="mainInfo">
        <div>
          <div class="inlineContainer">
            <pre>
███████╗░█████╗░░█████╗░██╗░░██╗███████╗██╗░░░██╗
╚════██║██╔══██╗██╔══██╗██║░░██║██╔════╝╚██╗░██╔╝
░░███╔═╝███████║██║░░╚═╝███████║█████╗░░░╚████╔╝░
██╔══╝░░██╔══██║██║░░██╗██╔══██║██╔══╝░░░░╚██╔╝░░
███████╗██║░░██║╚█████╔╝██║░░██║███████╗░░░██║░░░
╚══════╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚══════╝░░░╚═╝░░░
        </pre
            >
            <img src="/img/logoNoColor.svg" alt="" class="avatar" />
          </div>
          <br />
          Welcome to my personal website!
          <br />
          <div id="helpCmdList"></div>
        </div>
      </div>
      <div id="output"></div>
      <div id="input" class="command-input">
        <span id="prompt">
          <span class="ownerTerminal"><b>zachey@profile</b></span
          ><b>:~$</b>
        </span>

        <input
          type="text"
          id="cmd"
          oninput="showSuggestions()"
          onkeydown="handleKeyDown(event)"
        />
      </div>

      <div id="suggestions"></div>
    </div>
  </body>
</html>
