<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="terminal">
      <div></div>
      <div id="mainInfo"><%- include('../partials/mainInfo.ejs'); %></div>
      <div id="output"></div>
      <div id="input">
        <span id="prompt">
          <span class="ownerTerminal"><b>zachey@profile</b></span
          ><b>:~$</b>
        </span>

        <input
          type="text"
          id="cmd"
          oninput="showSuggestions()"
          onkeydown="handleKeyDown(event)"
        />
      </div>

      <div id="suggestions"></div>
    </div>
  </body>
</html>
