body .container .flex {
  display: inline-flex;
  margin: 20px;
}
.skillBar {
  width: 250px;
  height: 30px;
  border: 1px solid blanchedalmond;
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.skillBarItem1 {
  width: 100%;
  height: 30px;
  background: blanchedalmond;
  animation: slide1 2s ease-in-out;
}
.skillBarItem2 {
  width: 100%;
  height: 30px;
  background: blanchedalmond;
  animation: slide2 2s ease-in-out;
}
.skillBarItem3 {
  width: 95%;
  height: 30px;
  background: blanchedalmond;
  animation: slide3 2s ease-in-out;
}
.skillBarItem4 {
  width: 55%;
  height: 30px;
  background: blanchedalmond;
  animation: slide4 2s ease-in-out;
}
.skillBarItem5 {
  width: 85%;
  height: 30px;
  background: blanchedalmond;
  animation: slide5 2s ease-in-out;
}
.skillBarItem6 {
  width: 15%;
  height: 30px;
  background: blanchedalmond;
  animation: slide6 2s ease-in-out;
}
.skillBarItem7 {
  width: 5%;
  height: 30px;
  background: blanchedalmond;
  animation: slide7 2s ease-in-out;
}
.skillBarItem8 {
  width: 5%;
  height: 30px;
  background: blanchedalmond;
  animation: slide7 2s ease-in-out;
}

@keyframes slide1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide3 {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes slide4 {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
@keyframes slide5 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes slide6 {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes slide7 {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}
@keyframes slide8 {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}
