<div>
  <div class="inlineContainer">
    <pre>
  ███████╗░█████╗░░█████╗░██╗░░██╗███████╗██╗░░░██╗
  ╚════██║██╔══██╗██╔══██╗██║░░██║██╔════╝╚██╗░██╔╝
  ░░███╔═╝███████║██║░░╚═╝███████║█████╗░░░╚████╔╝░
  ██╔══╝░░██╔══██║██║░░██╗██╔══██║██╔══╝░░░░╚██╔╝░░
  ███████╗██║░░██║╚█████╔╝██║░░██║███████╗░░░██║░░░
  ╚══════╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚══════╝░░░╚═╝░░░
  </pre
    >
    <img src="/img/logoNoColor.svg" alt="" class="avatar" />
  </div>
  <br />
  Welcome to my personal website!
  <br />
  <br />Available commands: <br />[<span class="commandName">skills</span>] or
  [<span class="commandName">s</span>] <br />[<span class="commandName"
    >projects</span
  >] or [<span class="commandName">pj</span>] <br />[<span class="commandName"
    >blog</span
  >] <br />[<span class="commandName">tools</span>] <br /><br />[<span
    class="commandName"
    >clear</span
  >] <br /><br />Contact me: <br />[<span class="commandName">github</span>]
  <br />[<span class="commandName">discord</span>] <br />[<span
    class="commandName"
    >telegram</span
  >] <br />[<span class="commandName">email</span>] <br />[<span
    class="commandName"
    >steam</span
  >] <br />[<span class="commandName">youtube</span>]
</div>
