<div>
  <div class="inlineContainer">
    <pre>
  ███████╗░█████╗░░█████╗░██╗░░██╗███████╗██╗░░░██╗
  ╚════██║██╔══██╗██╔══██╗██║░░██║██╔════╝╚██╗░██╔╝
  ░░███╔═╝███████║██║░░╚═╝███████║█████╗░░░╚████╔╝░
  ██╔══╝░░██╔══██║██║░░██╗██╔══██║██╔══╝░░░░╚██╔╝░░
  ███████╗██║░░██║╚█████╔╝██║░░██║███████╗░░░██║░░░
  ╚══════╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚══════╝░░░╚═╝░░░
  </pre
    >
    <img src="/img/logoNoColor.svg" alt="" class="avatar" />
  </div>
  <br />
  Welcome to my personal website!
  <br />
  <div id="helpCmdList"></div>
</div>
