<article class="article-wrapper">
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">Project 1</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        doloremque animi laborum officiis, ad, unde odio iure consequatur
        accusantium molestiae esse ex error amet delectus.
      </p>
    </div>
  </div>
</article>

<article class="article-wrapper">
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">Project 2</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        doloremque animi laborum officiis, ad, unde odio iure consequatur
        accusantium molestiae esse ex error amet delectus.
      </p>
    </div>
  </div>
</article>

<article class="article-wrapper">
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">Project 3</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        doloremque animi laborum officiis, ad, unde odio iure consequatur
        accusantium molestiae esse ex error amet delectus.
      </p>
    </div>
  </div>
</article>

<article class="article-wrapper">
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">Project 4</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        doloremque animi laborum officiis, ad, unde odio iure consequatur
        accusantium molestiae esse ex error amet delectus.
      </p>
    </div>
  </div>
</article>

<article class="article-wrapper">
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">Project 5</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        doloremque animi laborum officiis, ad, unde odio iure consequatur
        accusantium molestiae esse ex error amet delectus.
      </p>
    </div>
  </div>
</article>
