<article
  class="article-wrapper"
  onclick="linkHref('https://github.com/zachey01/MimiCMS/')"
>
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">MimiCMS</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        Modular, fast CMS for <code>CS:GO</code>, <code>CS2</code> (coming soon)
        servers.
      </p>
    </div>
  </div>
</article>

<article
  class="article-wrapper"
  onclick="linkHref('https://github.com/zachey01/terminalPortfolio')"
>
  <div class="project-info">
    <div class="flex-pr">
      <div class="project-title text-nowrap">terminal<br />Portfolio</div>
    </div>
    <div class="flex-pr">
      <p class="project-description">
        A personal website styled for UNIX terminal.
      </p>
    </div>
  </div>
</article>
